<html ng-app="listaTelefonica">
<head>
    <meta charset="UTF-8">
    <title>Ola Mundo AngulaJs</title>
    <link rel="stylesheet" href="lib/bootstrap.css">
    <style>
        .jumbotron {
            width: 600px;
            text-align: center;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        .table {
            margin-top: 20px; 
        }
        .form-control{
            margin-bottom: 5px;
        }
        /*.selecionado {
            background-color: azure;
        }*/
        
    </style>
    <script src='lib/angular.js'></script>
    <script src="lib/angular-locale_pt-br.js"></script>
    <script src="lib/angular-messages.js"></script>

    <script>
        angular.module("listaTelefonica",["ngMessages"]);
        angular.module("listaTelefonica").controller("ListaTelefonicaCtrl", function ($scope){
            $scope.message = "Lista Telefonica";
            $scope.contatos = [
                {nome: "Fabio", telefone: "99999999", data: new Date()},
                {nome: "Anan", telefone: "9999-88888", data: new Date()},
                {nome: "Maria", telefone: "9999-6666", data: new Date() }
            ];
            //Lista operadoras
            $scope.operadoras = [
                {nome: "Oi", codigo: 14 , categoria: "Celular", preco: 2},
                {nome: "vivo", codigo: 16, categoria: "Celular", preco: 1},
                {nome: "tim", codigo: 15, categoria: "Celular", preco: 3},
                {nome: "GVT", codigo: 25, categoria: "Fixo", preco: 1},
                {nome: "Embratel", codigo: 21, categoria: "Fixo", preco: 2},
            ];

            $scope.adcionarContato = function(contato){
                $scope.contatos.push(angular.copy(contato));
                delete $scope.contato;
                //$scope.contatoForm.$setPristine();
            };

            $scope.ApagarContato = function(contatos){
              $scope.contatos = contatos.filter(function(contato){
                    if (!contato.selecionado)
                        return contato;
                });                    
            }    

            $scope.isContatoSelecionado = function(contatos){
                return contatos.some(function(contato){
                    return contato.selecionado;   
                });
            }
            $scope.ordernarPor = function(campo){
                $scope.criterioDeOrdenacao = campo;
                $scope.direracaoDaOrdenacao = !$scope.direracaoDaOrdenacao;
            };

            $scope.classe = "selecionado";
        });
    </script>
</head>
<body>
    <div ng-controller="ListaTelefonicaCtrl">
        <div class="jumbotron">
            <h3 ng-bind="app"></h3>
            <h4>{{ message }}</h4>
            <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que vc esta puscando?">
            <table ng-show="contatos.length > 0" class="table">
                <tr>
                    <th></th>
                    <th><a href="" ng-click="ordernarPor('nome')">Nome</a></th>
                    <th><a href="" ng-click="ordernarPor('fone')">Telefone</a></th>
                    <th>Operodora</th>
                    <th>Data</th>
                </tr>
                <tr ng-class="classe" ng-repeat="contato in contatos | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direracaoDaOrdenacao">
                    <td><input type="checkbox" ng-model="contato.selecionado"></td>
                    <td>{{contato.nome | uppercase}}</td>
                    <td>{{contato.telefone}}</td>
                    <td>{{contato.operadora.nome}}</td>
                    <td>{{contato.data | date: 'dd/MM/yyyy HH:mm' }}</td>
                    <td><div style="width: 20px; height: 20px;" [ngStyle]="{'background-color': contato.cor }"></div></td>
                </tr>    
            </table>
            <hr>
            <!--é valid {{contatoForm.$valid}}<br />
            não é valid {{contatoForm.$invalid}}<br />-->
        <form name="contatoForm">
            <input class="form-control" type="text" name="nome" ng-model="contato.nome" placeholder="Nome"
                   ng-required="true" ng-minlength="10">

            <input class="form-control" 
                   type="number" 
                   name="fone"
                   ng-model="contato.telefone"
                   ng-required="true"
                   ng-pattern="/^\d{4,5}-\d{4}$/">
            
            <select class="form-control" ng-model="contato.operadora" 
             ng-options="operadora.nome + '(' + ( operadora.preco | currency ) + ' )' for operadora in operadoras | orderBy: 'nome'">
             <option value="">Selecione uma operadora</option>
            </select>
        </form>
            <div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
                <div ng-messages="requerid"></div>
                    Preencha o campo Nome!
                             
                <div ng-message="minlength">
                    Compo nome deve ter no minimo 10 caracteres.    
                </div>
            </div>

            <div ng-show="contatoForm.fone.$invalid && contatoForm.fone.$dirty" class="alert alert-danger">
                Preecha o campo telefone!
            </div>
            <div ng-show="contatoForm.fone.$error.pattern" class="alert alert-danger">
                campo fone deve ter o formato DDDD-DDDD
            </div>

            <button class="btn btn-primary btn-block" 
                    type="button" 
                    ng-click="adcionarContato(contato)">
                    <!-- ng-disabled="contatoForm.$invalid" -->
                    Adcionar Contato
            </button>

            <button class="btn btn-danger btn-block" 
                    type="button" 
                    ng-click="ApagarContato(contatos)" 
                    ng-show="isContatoSelecionado(contatos)">
                    Apagar Contato
            </button>
        </div>  
    </div>
</div>
<div ng-include="footer.html">
</body>
</html>